body {
    font-family: "microsoft yahei";
    font-size: 20px;
    width: 100%;
}

footer {
    color: #666666;
    text-align: center;
    padding: 15px;
    margin: 50px 10px 10px 10px;
    font-size: 80%;
}

img {
    width: 200px;
    height: 200px;
}


.cartBox {
    width: 1200px;
    margin: auto;
}


.welcome {
    font-size: 1.5em;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}


table {
    width: 100%;
    text-align: center;
    font-size: smaller;
    border: #2ebc4f;
}

td,
th {
    border-bottom: 1px solid gainsboro;
}

td {
    height: 200px;
}


.cartImage {
    width: 300px;
}

.cartDescrip {
    width: 400px;
    text-align: left;
}

.cartPrice {
    width: 200px;
}

.cartCount {
    width: 200px;
}

.cartTotal {
    width: 200px;
}

.subTotal{
    width: 30%;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
}
.totalMoney{
    margin-top: 10px;
    float: right;
    font-weight: bold;
}
.buttonDiv{
    width: 30%;
    margin-right: 0;
    margin-left: auto;
}

button {
    width: 100%;
    height: 40px;
    background-color: #2ebc4f;
    
    color: white;
    border: none;
    text-align: center;
    font-size: medium;
    font-weight: bold;

    outline:none;
    cursor: pointer;

    border-radius: 4px;
    
}

button:hover{
    background-color: #45a049;
}



